<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Nós</h2>
                    <h3 class="section-subheading text-muted">Um pouco do nosso propósito</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        SOMOS UM EMPRESA QUE ENCONTROU NA INTERDISCIPLINARIEDADE  UMA EXCELENTE FORMA DE INOVAR  E CONTRIBUIR 
                        PARA A INSERÇÃO DOS DEFICIENTES NO MERCADO DE TRABALHO. FORMADA POR PROFISSIONAIS QUE BUSCAM 
                        FAZER  PARTE DA SOLUÇÃO E QUE ENCARAM OS DESAFIOS COMO UMA OPORTUNIDADE DE SUPERAÇÃO. 
                        A PcD EM FOCO CONTA COM  PROFISSIONAIS ESPECIALIZADOS NA ÁREA DE GESTÃO DE PESSOAS COM SIGNIFICATIVA EXPERIÊNCIA NESTE CAMPO. 

                        CRIAMOS O PORTAL (PLATAFORMA)  EXCLUSIVO PARA  DEFICIENTES QUE BUSCAM OPORTUNIDADES ADEQUADAS AS SUAS COMPETÊNCIAS E INTERESSES.       
                        SEJAM BEM VINDOS AO MAIOR PORTAL DE EMPREGOS PARA DEFICIENTES de SC. 
                    </p>
                </div>  
            </div>
        </div>
    </section>
