<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Nós</h2>
                    <h3 class="section-subheading text-muted">Um pouco do nosso propósito</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-about">
                  <p>
                      Somos uma empresa que encontrou na interdisciplinaridade uma excelente forma de inovar e contribuir para inserção das pessoas com deficiência no mercado de trabalho. Formada por profissionais que buscam fazer parte da solução e que encaram os desafios como uma oportunidade de superação.
                      A PcD em Foco é composta por profissionais especializados em Gestão de Pessoas, focados na inclusão social e econômica das PcDs.
                    </br></br>
                      Bem vindo ao maior portal de Santa Catarina exclusivo para pessoas com deficiência que buscam oportunidades adequadas as suas competências e interesses.
                  </p>
                </div>
            </div>
        </div>
    </section>
