<!-- Clients Aside -->
<section id="clients">
  <div class="container">
    <div class="row text-center">
        <h2 class="section-heading">Parceiros</h2>
        <h3 class="section-subheading text-muted">Empresas que acreditam no valor da inclusão:</h3>
    </div>

  </div>
</div>
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/rbs.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/fiesc.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/catarinense.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/le-monde.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
    <!-- <div class="row text-center">
        <p><a href="/empresa/" class="btn btn-xl">Seja uma empresa parceira</a></p>
    </div> -->
