 <!-- Portfolio Modals -->
     <div class="portfolio-modal modal fade" id="modal-help" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Perguntas frequentes</h2>
                            <hr class="star-primary"> </hr>

                            <h4>O que é a PcD em Foco? </h4>
                            <p>Somos uma Startup que inovou e desenvolveu um site de empregos direcionado para Pessoas com Deficiência e Reabilitados pelo INSS. </p>

                            <h4>Como divulgo uma vaga?</h4>
                            <p>Basta cadastrar sua empresa, no espaço cadastre-se e na sequência acessar DIVULGAR VAGA e pronto!</p>

              							<h4>Qual é o investimento para divulgar uma vaga?</h4>
              							<p>Com a PcD em Foco a divulgação é gratuita, o investimento só ocorre em caso de seleção de algum candidato da plataforma, se tiver interesse podemos enviar mais informações basta nos deixar uma mensagem ou enviar e-mail para <a href="mailto:neandro@pcdemfoco.com.br" target="_top">neandro@pcdemfoco.com.br</a></p>

                            <h4>Como funciona o serviço?</h4>
              							<p>Disponibilizamos um consultor especializado que atua como facilitar do processo, oferecendo a assistência necessária para o preenchimento das vagas em aberto.</p>

                            <h4>Vocês têm currículos de profissionais com deficiência?</h4>
                            <p>Temos um banco de talentos que cresce a cada dia, com média de 150 cadastros mês!</p>

                            <h4>Como eu recebo os currículos?</h4>
                            <p>Os currículos serão direcionados para o e-mail cadastrado, ou seja, para o responsável pelo processo seletivo.</p>

                            <h4>Eu recebo algum login?</h4>
                            <p>Não, qualquer modificação da vaga é realizada pela equipe da PcD em Foco, basta enviar um email para contato@pcdemfoco.com.br que efetuamos as alterações solicitadas.</p>

                            <h4>Quando eu vou receber os primeiros currículos?</h4>
                            <p>Nas primeiras 72 horas direcionamos os primeiros currículos (dentro dos pré requisitos exigidos)  podendo ocorrer até mais 2 ondas de envio após 5 dias (do primeiro e segundo envio) conforme o número de candidatos.</p>

                            <h4>Quais são os critérios para envio dos currículos?</h4>
                            <p>A área de interesse do candidato, localização geográfica e pré requisitos da vaga.</p>

                            <h4>Quais cidades a PcD em Foco atende?</h4>
                            <p>Atendemos todo o estado de Santa Catarina;</p>

                            <h3>PcD em Foco a inclusão que acontece!</h3>

                            <p><a href="/empresa/" class="btn btn-xl">CADASTRE-SE</a></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
