 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="modal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h4> Descrição </h4>
                            <p>{{ post.description }}</p>
                            <h4> Pré-requisitos </h4>
                            <p>{{ post.requirements }}</p>
                            <ul class="list-inline item-details">
                                <li>Cargo:
                                    <strong>{{ post.job }}
                                    </strong>
                                </li>
                                <li>Salário:
                                    <strong>{{ post.salary }}
                                    </strong>
                                </li>
                                <li>Município:
                                    <strong>{{ post.city }}
                                    </strong>
                                </li>
                                <li>Bairro:
                                    <strong>{{ post.neighborhood }}
                                    </strong>
                                </li>
                            </ul>
                            <p><a href="/pcd/" class="btn btn-xl">CADASTRE-SE</a></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
