<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                    <p class="text-muted">
                        Se a sua empresa necessita contratar pessoas
                        com deficiência, conte com a PcD em Foco para
                        auxiliá-los neste processo. Disponibilizamos um banco
                        de talentos que além de contribuir para o cumprimento
                        da lei 8213/91 agregará valor ao seu negócio.
                    <p>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Para empresas</h4>
                  <p class="text-muted">Se você representa uma empresa e disponibiliza oportunidades para pessoas com deficiência cadastre-se de forma <b> GRATUITA </b> e receba mais informações </p>
                  <p><a href="/empresa/" class="btn btn-xl">CADASTRE-SE</a></p>
              </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Para PcD</h4>
                    <p class="text-muted">Se você possui alguma deficiência e está em busca de uma oportunidade
                    de emprego, faça seu cadastro e tenha acesso a grandes oportunidades de forma <b>GRATUITA</b></p>
                    <p><a href="/pcd/" class="btn btn-xl-secundary">Quero Trabalhar</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Para consultorias RH</h4>
                    <p class="text-muted">Se você representa uma consultoria e disponibiliza oportunidades para pessoas com deficiência cadastre-se de forma <b> GRATUITA </b> e receba mais informações </p>
                    <p><a href="/consultoria/" class="page-scroll btn btn-xl">CADASTRE-SE</a></p>
                </div>
            </div>
        </div>
    </section>
