<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Se a sua empresa possui dúvidas ou necessita auxílio para captação de currículos de deficientes, conte com a PcD em Foco para auxili-los neste processo, temos certeza que sua empresa encontrará em nosso banco de talentos um futuro colaborador que além de contribuir para o cumprimento da lei 8213/91 agregará muito valor e resultados a sua empresa.

                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Para PcD</h4>
                    <p class="text-muted">Se você possui alguma deficiência e está em busca de uma oportunidade
                    de emprego, faça seu cadastro e tenha acesso a grandes oportunidades de forma gratuita</p>
                    <p><a href="/pcd" class="btn btn-xl">Quero Trabalhar</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Para empresas</h4>
                    <p class="text-muted">Se você é ou representa uma empresa e quer oferencer oportunidades para pessoas com deficiência cadastre-se e tenha acesso a muitos profissionais </p>
                    <p><a href="/pcd" class="btn btn-xl">Quero Contratar</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria</h4>
                    <p class="text-muted">Oferecemos consultoria
                    especializada em contratação de pessoas com deficiência, ajudando sua empresa a encontrar
                    execelentes profissionais </p>
                    <p><a href="#contact" class="page-scroll btn btn-xl">Entre em contato</a></p>
                </div>
            </div>
        </div>
    </section>
