<!DOCTYPE html>
<html>

  {% include head.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78886311-1', 'auto');
      ga('send', 'pageview');

    </script>

    <body id="page-top" class="index">

      <script type="text/javascript">
        var _hta = {'_setToken': '4f79053484d30a048dcd61516cfc7c43a7cb024d','_htException': 'HandTalk_EXCECAO'};
        (function() {
          var ht = document.createElement('script'); ht.type = 'text/javascript'; ht.async = true;
          ht.src = '//api.handtalk.me/handtalk_init.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.appendChild(ht);
        })();
        //  HandTalk_EXCECAO -> ID ou CLASSE do elemento que desejar exceção, separados por virgula
        //  Exemplo:  '#menu,.listas,.formulario,#carrousel'
      </script>


    {% include header.html %}
    {% include services.html %}
    {% include modals.html %}
    {% include help.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
